@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height:3rem;
    background-color: #432C7A;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.brand{
    display: flex;
    height: 30px;
}
.intro{
    margin: 0;
    background-color:aquamarine;
    height: 40vh;
}

.search-bar{
    border-radius: 3.75em;
    padding-left:0.625em;
    background-color: rgb(218, 106, 106);
    align-items: center;
}

.search-bar .search-value{
        border: none;
        border: none;
        outline: none;
        padding: 0.625em 10.25em 0.625em 0.625em;      
        font-size:1em;
        background: transparent;
        color: black;
}

.search-bar button{
    border: none;
    padding: 0 3em;
        border-radius: 50%;
        width: 1.875em;
        height: 1.875em;
        background:none;
        cursor: pointer;
}
.search-bar button img{
        height: 1.875em;
        width: 1.875em;
  }


::placeholder{
    color: black ;
}

@media (max-width: 600px) {
    /* For mobile phones: */
    .search-bar{
        padding: 0em;
        font-size: 0.7em;
    }

    .search-bar button{
        width: 0.875em;
        height: 0.875em;
    }

    .search-bar .search-value{
        padding: 0.5em 0 1em;
    }

    .search-bar button img{
        height: 1.5em;
        width: 1.5em;
  }
  }

.find-items{
   background-color: #FF8FB1;
  
  
}
.items-list{
    row-gap: 2.5rem;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
.items-list > *{
    flex-basis: 28%;
}